
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.pure-button {
    background-color: #006400;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

a.pure-button-primary {
    background: white;
    color: #006400;
    border-radius: 5px;
    font-size: 120%;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus {
    text-decoration: underline;
}

h3 {
    font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background: #006400;
    color: #FFFFFF;
}

.brand-title,
.brand-tagline {
    margin: 0;
    margin-bottom:30px;
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
    font-weight: 300;
    color: #FFFFFF;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 2px solid white;
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid grey;
    text-decoration: none;
}

.content-subhead {
    color: #004600;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 100%;
    font-weight: bold;
    letter-spacing: 0.1em;  
}


.content {
    padding: 2em 1em 0;
}

.post {
    /* adjust post margin and padding here later */
}


.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}
.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.post-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}
.post-meta {
    color: #666;
    font-size: 90%;
    margin-bottom: 10px;
}

.post-meta-buttons a{
    padding: 1.2em 3.6em;
    display: inline-block;
}

@media (max-width: 550px){
    .post-meta-buttons a{
        margin-top: 20px;
    }
}




.post-category {
    margin: 0 0.1em;
    margin-left:10px;
    padding: 0.6em 1.8em;
    color: #fff;
    background: #999;
    font-size: 80%;
}
    .post-category-design {
        background: #5aba59;
    }
    .post-category-pure {
        background: #4d85d1;
    }
    .post-category-yui {
        background: #8156a7;
    }
    .post-category-js {
        background: #df2d4f;
    }

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}


@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    .header {
        margin: 80% 2em 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}

@media (max-width: 550px){
    /* ajusta aqui dentro o font-size de todos os textos */
    .brand-title{
        font-size: 1.8em;
        margin-bottom: 10px;
    }

    .brand-tagline{
        font-size: 1.5em;
        margin-bottom:20px;
    }
    .post-title{
        font-size: 23px;
    }
}
