<html lang="pt-br">
    <head>
        <title>Guia IASEP</title>
        <meta name=“Description” content="Guia de serviços médicos do IASEP">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
        {% load static %}
        <!-- Pure CSS -->
        <link rel="icon" href="{% static 'guia/img/logo.png' %}">
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    </head>

    <body>
        
        {% block content %}
        {% endblock %}

    </body>
</html>