<html lang="pt-br">
    <head>
        {% if not settings.DEBUG %}
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164532186-1"></script>
            <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', '{{ settings.GA_ID }}');
            </script>
        {% endif %}

        <title>Guia IASEP</title>
        <meta name=“Description” content="Guia de serviços médicos do IASEP">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <!-- Pure CSS -->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
        {% load static %}
        
        <link rel="icon" href="{% static 'guia/img/logo.png' %}">
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    </head>

    <body>
        
        {% block content %}
        {% endblock %}
    </body>
</html>