{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'guia/css/homepage.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'guia/css/dropdown.css' %}">
    

  <!-- First Section-->
  <div class="splash-container">
      
    <div class="splash">

        <h1 class="splash-head">Guia de serviços IASEP</h1>
        <p class="splash-subhead">
            Encontre clínicas, laboratórios, hospitais, médicos e outros profissionais da rede IASEP perto de você.
        </p>
        
        <p><a onclick="openNav('cityNav')" class="pure-button pure-button-primary" id="select-city">Escolher município</a></p>
        <p><a onclick="openNav('serviceNav')" class="pure-button pure-button-primary" id="select-service"> Escolher serviço</a></p>
        <p><a href="#" onclick="routeTo(citySlug, serviceSlug)" class="pure-button pure-button-primary" id="route-to"> Encontrar </a></p>
        
    </div>
  </div>
  <!-- End of first Section-->



  <div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">Neste guia você encontra rapidamente a informação sobre o serviço que procura </h2>

        <div class="pure-g" id="steps-list">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    1° Escolha sua cidade
                    <i class="fa fa-location-arrow"></i>
                </h3>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    2° Escolha seu serviço
                    <i class="fa fa-plus-square"></i>
                </h3>

            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    3° Veja as opções disponíveis
                    <i class="fa fa-list"></i>
                </h3>

            </div>

        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g" id="legal-information">
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon">Este não é o guia oficial IASEP!</h2>

            <p>
                Este não é o guia de serviços oficial do IASEP provido pelo governo do estado do Pará.<br/>
                Entretanto, este guia é atualizado diariamente com dados do guia médico oficial e suas informações são completamente confiáveis e exatamente iguais as do guia oficial.
            </p>
            <p>
                O propósito deste guia é ser mais fácil e agradável de utilizar, já que o guia original é incompatível com dispositivos móveis e leitores de tela.<br/>
                Caso preferir, consulte diretamente o guia oficial por meio do link abaixo.
            </p>
        </div>
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <a 
                class="pure-button pure-button-primary" 
                href="http://www.e-saude.iasep.pa.gov.br/servicos" 
                target="_black" 
                id="official-guide-button">
                Guia oficial
            </a>
        </div>
    </div>

    <!--
    <div class="content">
        <h2 class="content-head is-center">Dolore magna aliqua. Uis aute irure.</h2>

        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                <form class="pure-form pure-form-stacked">
                    <fieldset>

                        <label for="name">Your Name</label>
                        <input id="name" type="text" placeholder="Your Name">


                        <label for="email">Your Email</label>
                        <input id="email" type="email" placeholder="Your Email">

                        <label for="password">Your Password</label>
                        <input id="password" type="password" placeholder="Your Password">

                        <button type="submit" class="pure-button">Sign Up</button>
                    </fieldset>
                </form>
            </div>

            <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                <h4>Contact Us</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>

                <h4>More Information</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>

    </div>
    -->
  </div>

  <!-- City overlay -->
  <div id="cityNav" class="overlay-div">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav('cityNav')">&times;</a>
    <div class="overlay-content">
        {% for city in cities %}
            <a onClick="fillButton('select-city', 'cityNav', '{{city.name}}', '{{city.slug}}')">{{city.name}}</a>
        {% endfor %}
    </div>
  </div>

    <!-- Service overlay -->
    <div id="serviceNav" class="overlay-div">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav('serviceNav')">&times;</a>
        <div class="overlay-content">
            {% for service in services %}
                <a onClick="fillButton('select-service', 'serviceNav', '{{service.name}}', '{{service.slug}}')">{{service.name|lower|capfirst}}</a>
            {% endfor %}
        </div>
      </div>

<script src="{% static 'guia/js/dropdown.js' %}"></script>
{% endblock %}