{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'guia/css/places_listing.css' %}">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">

<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <h1 class="brand-title">{{service.name|lower|capfirst}}</h1>
            <!-- Places counter-->
            {% if not places %}
            <h2 class="brand-tagline">Nenhuma opção disponível em {{city.name}}</h2>
            {% else %}
            <h2 class="brand-tagline">{{places|length}} opç{{ places|length|pluralize:"ão,ões" }} disponíve{{places|length|pluralize:"l,is"}} em {{city.name}}</h2>
            {% endif %}
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button pure-button=primary" href="/">
                            Voltar ao ínicio
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            <!-- A wrapper for all the blog posts -->
            <div class="posts">
            {% if not places %}
                <!-- A single blog post -->
                <section class="post">
                    <header class="post-header">
                        <h3 class="post-title">Parece que o IASEP ainda não fornece esse serviço nessa cidade</h3>

                    </header>

                    <div class="post-description">
                        <p>Entre em contato com o IASEP para mais informações sobre a disponibilidade deste serviço.<br> Você também pode tentar buscar este serviço em cidades próximas.</p>

                        <p class="post-meta post-meta-buttons">
                            <a class="post-category post-category-design" href="tel:91-3366-6100">Ligar para o IASEP</a> 
                            <a class="post-category post-category-pure" href="http://www.iasep.pa.gov.br/contatos">Outros contatos IASEP</a>
                        </p>
                    </div>
                </section>
            {% else %}

            {% for place in places %}
                <section class="post">
                    <header class="post-header">

                        <h3 class="post-title">{{ place.name|lower|title }}</h3>

                        {% if place.callable_phone %}
                        
                        {% endif %}
                    </header>

                    <div class="post-description">

                        <p>
                            {{ place.adress|lower|title }}
                        </p>

                        <p class="post-meta">
                            
                            <a class="post-category post-category-js" 
                            href="tel:{{place.callable_phone}}">
                                Ligar
                            </a>
                        </p>
                    </div>
                    <h1 class="content-subhead"></h1>
                </section>
            {% endfor %}
            {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock %}