{% load static %}
<div class="header" id="navbar">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed" id="navbar-body">
        
        <a class="pure-menu-heading" href="/">
            <img 
                src="{% static 'guia/img/logo.png' %}" 
                height="50"
                width="50"
            >
        </a>

        <a class="pure-menu-item" href="/">Ínicio</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link"></a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link"></a></li>
        </ul>
    </div>
</div>